.notice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  > div {
    display: flex;
    align-items: center;
    gap: 2rem;

    > h1 {
      text-align: left;
    }

    > input {
      display: none;
    }

    > .shorkContainer {
      position: relative;
      display: flex;
      align-items: center;
      width: 10rem;
      height: 9rem;

      > picture {
        position: absolute;
        user-select: none;
        > img {
          width: 100%;
        }
      }

      .shorkGoober {
        opacity: 0;
      }
    }
  }
}

@property --copy-opacity {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --copy-scale {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --label-opacity {
  syntax: '<number>';
  initial-value: 1;
  inherits: true;
}

@keyframes copyNotification {
  0% {
    --copy-opacity: 1;
    --copy-scale: 0.75;
    --label-opacity: 0;
  }
  5% {
    --copy-opacity: 1;
    --copy-scale: 1;
    --label-opacity: 0;
  }
  75% {
    --copy-opacity: 1;
    --copy-scale: 1;
    --label-opacity: 0;
  }
  100% {
    --copy-opacity: 0;
    --copy-scale: 1;
    --label-opacity: 1;
  }
}

.linklist {
  display: grid;
  width: 16rem;
  grid-template-columns: 1fr;

  > a {
    --social-icon-url: none;
    --social-icon-color: var(--text);
    
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    border: 0px solid transparent;
    box-sizing: border-box;
    transition: all 250ms var(--anim-timing);
    padding: 0.5rem;
    text-decoration: none;

    > span {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      justify-content: space-between;
      text-decoration: underline;
      transition: all 250ms var(--anim-timing);
    }

    > span:before {
      content: '';
      display: block;
      background-color: currentColor;
      width: 2rem;
      aspect-ratio: 1;
      -webkit-mask-image: var(--social-icon-url);
      mask-image: var(--social-icon-url);
    }

    > div {
      --copy-opacity: 0;
      --copy-scale: 1;
      --label-opacity: 1;
      position: relative;

      > span:first-of-type {
        display: flex;
        align-items: center;
        height: 100%;
        color: var(--text);
        font-weight: normal;
        text-decoration-color: transparent;
        opacity: var(--label-opacity);
      }

      > span:last-of-type {
        user-select: none;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(var(--copy-scale));
        height: 100%;
        color: var(--text);
        font-weight: normal;
        text-decoration-color: transparent;
        opacity: var(--copy-opacity);
      }
    }

    > .copyAnimator {
      animation-name: copyNotification;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-timing-function: var(--anim-timing);
      animation-fill-mode: forwards;
    }
  }

  > a:hover > span {
    transition-duration: 0ms;
  }

  > a:not(:hover, :focus-visible) {
    > span {
      text-decoration-color: transparent;
    }

    > div {
      transition: all 250ms var(--anim-timing);
      opacity: 0;
    }
  }
}

/* bluesky */

.linklist .bluesky {
  --social-icon-url: url("/assets/social_icons/bluesky.svg");
}

/* discord */

.linklist .discord {
  --social-icon-url: url("/assets/social_icons/discord.svg");
}

/* github */

.linklist .github {
  --social-icon-url: url("/assets/social_icons/github.svg");
}

/* steam */

.linklist .steam {
  --social-icon-url: url("/assets/social_icons/steam.svg");
}

/* youtube */

.linklist .youtube {
  --social-icon-url: url("/assets/social_icons/youtube.svg");
}

/* kofi */

.linklist .kofi {
  --social-icon-url: url("/assets/social_icons/kofi.svg");
}

/* 
quick note on the image switching: we get slightly odd behavior when both rules are active, so instead we use media queries to only allow one rule at a time.

yeah i could probably write some more complex rules to allow both to work more seamlessly, but this is a lot easier.

and it's only supposed to be a lil easter egg anyway so who cares lol
*/

@media screen and (hover: hover) {
  /* allows image to switch on hover */
  .notice > div > .shorkContainer:hover {
    > .shork {
      opacity: 0;
    }

    > .shorkGoober {
      opacity: 1;
    }
  }
}

@media screen and (not (hover: hover)) {
  /* allows image to switch on tap */
  .notice > div > input:checked ~ .shorkContainer {
    > .shork {
      opacity: 0;
    }

    > .shorkGoober {
      opacity: 1;
    }
  }

  .linklist {
    > a > div {
      opacity: 1 !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .notice {
    gap: 0.5rem;
    margin-bottom: 2rem;

    > div {
      gap: 1rem;

      > h1 {
        font-size: 1.66rem;
      }

      > picture > img {
        width: 8rem;
      }
    }

    > h2 {
      font-size: 1.33rem;
      width: 75%;
    }
  }
}