---
import Base from '../Base.astro';
import NotFoundText from '../components/NotFoundText';
---

<Base title="404" width="small">
	<div class="sideBySide">
		<div class="message">
			<h1>404</h1>
			<h2>Not Found</h2>
		</div>
		<div class="doodle">
			<img src="/doodle_404.png" />
			<span><NotFoundText client:load /></span>
		</div>
	</div>
	<a href="/">return to home page</a>
</Base>

<style lang="scss">
	.sideBySide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 4rem;
		box-sizing: border-box;
		padding: 3rem;
	}

	.message {
		display: flex;
		flex-direction: column;
		align-items: center;

		h1 {
			font-size: 8rem;
			font-weight: normal;
			margin: 0;
			margin-top: -1rem;
		}

		h2 {
			margin: 0;
			margin-top: -2rem;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
		}
	}

	.doodle {
		display: flex;
		flex-direction: column;
		align-items: center;

		// TODO: this doesnt work well in dark mode.
		img {
			width: 6rem;
			mix-blend-mode: multiply;
			margin-bottom: 1rem;
		}

		span {
			max-width: 14rem;
			text-align: center;
			font-style: italic;
			opacity: 0.5;
		}
	}

	a {
		padding: 1rem;
	}
</style>