---
---
<header>
  <a href="/">
    Home
  </a>
  <a href="/blog">
    Blog
  </a>
  <a href="/gallery">
    Gallery
  </a>
  <a href="/hardware">
    Hardware
  </a>
  <a href="/commissions">
    Commissions
  </a>
  <a href="/contact">
    Contact
  </a>
</header>