---
function checkPage(name: string): string {
  const match = Astro.routePattern.match(`^\/[^\/]{0,}`);
  if (match == null) return ``;
  if (match[0] == name) return `selected`;
  return ``;
}
---

<header>
  <a class={checkPage(`/`)} href="/">
    home
  </a>
  <a class={checkPage(`/blog`)} href="/blog">
    blog
  </a>
  <a class={checkPage(`/portfolio`)} href="/portfolio">
    portfolio
  </a>
  <a class={checkPage(`/hardware`)} href="/hardware">
    hardware
  </a>
  <a class={checkPage(`/commissions`)} href="/commissions">
    commissions
  </a>
  <a class={checkPage(`/contact`)} href="/contact">
    contact
  </a>
</header>

<style lang="scss">
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--box-bg);
    width: 100%;
    height: 4rem;

    a {
      padding: 0.5rem 1rem;

      &.selected {
        color: var(--box-bg);
        background-color: var(--trim);

        &:hover {
          text-decoration-color: var(--box-bg);
        }
      }
    }
  }
</style>