---
const { src, class: className, alt } = Astro.props;

---

<div aria-label={alt} class={className}></div>

<style lang="scss" define:vars={{ icon: `url(${src})` }}>
  div {
    display: inline-block;
    background-color: currentColor;
    width: 24px;
    height: 24px;
    mask-image: var(--icon);
    mask-size: contain;
  }
</style>