.gridArticle {
	aspect-ratio: 1.5;
	height: auto;
	text-decoration-color: transparent;

  article {
  	$gridPostPad: 1rem;
  	position: relative;
  	background-color: var(--trim);
  	color: var(--box-bg);
  	display: flex;
  	flex-direction: column;
  	height: 100%;
  	padding: $gridPostPad;
		box-sizing: border-box;

  	.featuredImage {
  		position: absolute;
  		width: 100%;
  		height: 75%;
  		margin: calc($gridPostPad * -1);
  		margin-bottom: 2rem;
  		background-color: var(--trim);
  		mask-image: linear-gradient(to bottom, #666, black);
  		mask-mode: luminance;
  		mask-size: cover;;

  		img {
  			position: absolute;
  			top: 0;
  			left: 0;
  			object-fit: cover;
  			width: 100%;
  			height: 100%;
  			transition: all 250ms var(--anim-timing);
  		}

  		img:not(.hover) {
  			filter: saturate(0);
  			mix-blend-mode: multiply;
  		}

  		img.hover {
  			z-index: 1;
  			opacity: 0;
  		}
  	}

  	// reordering elements doesnt change z-index 
  	// for some reason so i have to do this
  	:not(.featuredImage) {
  		z-index: 10;
  	}

  	.titleWrapper {
  		width: 100%;
  		height: 80%;
  		margin-bottom: auto;
  		overflow: hidden;

  		&.overflowing {
  			mask-image: linear-gradient(to bottom, #FFF 50%, transparent calc(100% - 1em));
  		}

  		h2 {
  			text-decoration-line: underline;
  			text-decoration-color: transparent;
  			transition: all 250ms var(--anim-timing);
  			overflow-wrap: anywhere;
  			margin: 0;
  		}
  	}

  	.updated {
  		opacity: 0.5;
  	}
  }
}

.gridArticle:is(:hover, :focus-visible) {
	article img {
		transition-duration: 0ms;
	}

	article img.hover {
		opacity: 1;
	}

	article img:not(.hover) {
		opacity: 0;
	}

	article h2 {
		text-decoration-color: currentColor;
		transition-duration: 0ms;
	}
}