.listArticle {
	position: relative;
	width: 100%;
	height: 10rem;
	padding: calc(var(--edge-pad) / 2);
	box-sizing: border-box;

	&:is(:hover, :focus-visible) {
		outline-offset: calc((var(--edge-pad) / 4) * -1);
		text-decoration-color: transparent;

		h2 {
			transition-duration: 0ms;
			text-decoration-color: currentColor;
		}
	}

	article {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 50%;
		gap: 1rem;

		h2 {
			text-decoration-line: underline;
			text-decoration-color: transparent;
			overflow: hidden;
			overflow-wrap: anywhere;
			margin: 0;
			flex: 1;
		}

		span {
			color: var(--text);
		}

		.updated {
			opacity: 0.5;
		}

		img {
			position: absolute;
			top: 0;
			right: 0;
			object-fit: cover;
			width: 40%;
			height: 100%;
			mask-image: linear-gradient(to left, #aaa, black);
	  	mask-mode: luminance;
	  	mask-size: cover;
		}
	}
}