.viewModes {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
	gap: var(--inner-void-gap);

	label {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: var(--secondary-box-bg);
		width: auto;
		height: 100%;
		aspect-ratio: 1;

		&:has(input:is(:hover, :focus-visible)) {
			background-color: var(--secondary-box-bg-hover);

			&:has(input:checked) {
				background-color: var(--trim-hover);
			}
		}

		&:has(input:checked) {
			background-color: var(--trim);
			color: var(--box-bg);
		}

		input {
			appearance: none;
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0;
		}
	}
}