:root {
  --background: #FFF;
  --text: #000;
  --trim: #c90949;

  --anim-timing: cubic-bezier(0,.65,.5,1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
  --text: #FFF;

  --anim-timing: cubic-bezier(0,.65,.5,1);
  }
}

@font-face {
  font-family: "CoreSans";
  font-weight: bold;
  src: url("/Core\ Sans\ CR\ 75\ ExtraBold.ttf") format("opentype")
}

@font-face {
  font-family: "CoreSans";
  font-weight: normal;
  src: url("/Core\ Sans\ CR\ 55\ Medium.ttf") format("opentype")
}

:root {
  background-color: var(--background);
}

* {
  font-family: "CoreSans", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  color: var(--text);
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-y: scroll; /* fixes page shifting when content becomes scrollable */
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: calc(100% - 4rem);
  max-width: 64rem;
  padding: 2rem;
  margin: auto;
}

h1, h2, h3, h4, h5 {
  color: var(--text);
  text-align: center;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 26px;
}

h3 {
  margin-top: 0.75em;
}

p {
  margin: 0;
}

a {
  color: var(--trim);
  transition: all 250ms var(--anim-timing);
  font-weight: bold;
  outline: 10px solid transparent;
  outline-offset: 10px;
  border-radius: 0.1em;
  /* text-decoration: underline; */
  text-decoration-color: transparent;
}

a:hover, a:focus-visible {
  transition-duration: 0ms;
}

a:hover, a:focus-visible {
  text-decoration-color: currentColor;
}

a:focus-visible {
  outline: 3px solid var(--trim);
  outline-offset: 0px;
}

ul {
  margin: 0 2em;
  padding: 0;
  margin-top: 0;
}

ul.no-bullet {
  list-style: none;
}

li:not(:first-of-type) {
  margin-top: 1em;
  text-align: justify;
}

@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
}