@font-face {
  font-family: "CoreSans";
  font-weight: normal;
  src: url("/coresans55.ttf") format("opentype")
}

@font-face {
  font-family: "CoreSans";
  font-weight: bold;
  src: url("/coresans75.ttf") format("opentype")
}

:root {
  --box-bg: #fafafa;
  --secondary-box-bg: #e9e9e9;
  --footer-bg: #232229;
  --footer-text: #dbd6dd;
  --text: #232229;
  --trim: #922d5c;

  --outer-void-gap: 3rem;
  --inner-void-gap: calc((var(--outer-void-gap) * 0.25));

  --edge-pad: 3rem;

  --footer-height: 20rem;

  --anim-timing: cubic-bezier(0,.65,.5,1);

  --content-width-large: 1600px;
  --content-width-medium: 1200px;
  --content-width-small: 800px;

  font-family: "CoreSans", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --box-bg: #232229;
    --secondary-box-bg: #15151a;
    --text: #dbd6dd;
    --trim: #ffb581;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--outer-void-gap);
  min-height: calc(100vh + var(--footer-height));
  margin: 0;
  background-image: url('/wallpaper.svg');
  background-size: cover;
  background-position: 50% 50%;
}

.contentBox, main, header, footer {
  position: relative;
  box-shadow: 0.6rem 0.6rem 16px #00000099;
}

.contentBox {
  background-color: var(--box-bg);
  box-sizing: border-box;
}

.large, .medium, .small {
  width: calc(100vw - (var(--outer-void-gap) * 2) - (var(--edge-pad) * 2));
}

.large {
  max-width: calc(var(--content-width-large) - (var(--edge-pad) * 2));
}

.medium {
  max-width: calc(var(--content-width-medium) - (var(--edge-pad) * 2));
}

.small {
  max-width: calc(var(--content-width-small) - (var(--edge-pad) * 2));
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--edge-pad);
}

a {
  color: var(--trim);
  text-decoration-color: transparent;
  transition: all 250ms var(--anim-timing);

  &:hover {
    text-decoration-color: currentColor;
  }

  &:hover,
  &:focus-visible {
    transition-duration: 0ms;
  }
}

code {
  font-size: 1rem;
}